h2{font-family:brush script mt;
   font-size:22pt;}

body { background-image:url("back.jpeg");
        background-size :100% 100%;
        background-repeat:no-repeat;
        background-attachment : fixed;}

h1{font-family:papyrus; 
    font-weight : bold;
    font-size:30pt;}
.bk{color:black}
#ord{color:white}
ol.c {
  list-style-type: upper-roman;
}

ol.d {
  list-style-type: lower-alpha;}
tr:hover {background-color: coral;}

